.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0;
  min-height: calc(100vh - 144px);
  position: relative;
  @include screenMedium {
    padding-top: 32px;
    flex-wrap: nowrap;
  }
  a {
    color: $color-link;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &--posts {
    margin-top: 0;
    @include screenFull {
      min-width: 832px;
    }
    &--items {
      list-style-type: none;
      padding: 0;
      margin-bottom: 64px;
      &--item {
        &--link {
          font-weight: bold;
          font-size: 1.1rem;
        }
        &--info {
          font-size: 0.96rem;
          line-height: 1.5rem;
          margin-top: 0;
          margin-bottom: 8px;
          color: #777;
        }
        &--excerpt {
          p {
            font-size: 0.96rem;
            line-height: 1.5rem;
            margin-top: 0;
            margin-bottom: 32px;
          }
        }
      }
    }
  }
}

.prev-next-posts {
  display: flex;
  flex-wrap: nowrap;
  .prev-posts-link {
    margin-right: 16px;
  }
}

.page--return {
  display: none;
  @include screenMedium {
    font-size: 0.95rem;
    display: block;
    position: absolute !important;
    top: 8px;
    color: #888 !important;
  }
}