body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  @include screenMedium {
    padding-top: 96px;
  }
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.3rem;
}

h4,
p {
  line-height: 1.5rem;
}

.link {
  color: #fff;
  padding: 8px 16px;
  display: inline-block;
  background: $color-main;
  text-decoration: none;
  border-radius: 4px;
}