body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.3rem;
}

h4,
p {
  line-height: 1.5rem;
}

.link {
  color: #fff;
  padding: 8px 16px;
  display: inline-block;
  background: $color-main;
  text-decoration: none;
  border-radius: 4px;
  transition: background 60ms;
  &:hover {
    background: $color-secondary;
  }
}

.summary {
  width: 80%;
  margin: 16px auto;
  position: relative;
  @include screenMedium {
    width: 640px;
  }
  &:before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    background: $color-secondary;
    left: -10%;
    @include screenMedium {
      left: -32px;
    }
  }
}