.map {
  width: 100%;
  height: 320px;
  background: #ddd;
  @include screenMedium {
    width: 420px;
    margin-left: 64px;
  }
}

.contact--section {
  @include screenMedium {
    display: flex;
    justify-content: center;
  }
}