.testimonials-fill {
  background: #f8f8f8;
  padding-top: 32px;
  padding-bottom: 0;
  border-top: 1px solid #ddd;
}

.testimonials {
  h1 {
    margin-bottom: 48px;
  }
  &--items {
    display: flex;
    flex-wrap: wrap;
    @include screenMedium {
      flex-wrap: nowrap;
    }
    &--item {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-bottom: 32px;
      p {
        &:first-of-type {
          margin-bottom: 4px;
          @include screenMedium {
            text-align: center;
            box-sizing: border-box;
            padding: 0 32px;
          }
        }
        &:last-of-type {
          margin-top: 4px;
        }
      }
    }
  }
}