.home-articles-fill {
  background: #f8f8f8;
  padding-top: 32px;
  padding-bottom: 64px;
  border: 1px solid #ddd;
}

.home-articles {
  text-align: center;
  &--items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 256px);
    grid-gap: 16px;
    justify-content: center;
    &--item {
      &:hover p {
        background: $color-secondary;
      }
      img {
        display: block;
      }
      p {
        height: 48px;
        background: $color-main;
        color: #fff;
        line-height: 48px;
        margin-top: 0;
        margin-bottom: 0;
        transition: background 30ms;
      }
    }
  }
}