.home-stories {
  padding-top: 32px;
  h1 {
    margin-bottom: 48px;
  }
  h2 {
    text-align: center;
  }
  &--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include screenLarge {
      flex-wrap: nowrap;
    }
    &--item {
      text-align: center;
      margin-bottom: 64px;
      max-width: 640px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      h4 {
        box-sizing: border-box;
        padding: 0 32px;
      }
      p {
        text-align: left;
        max-width: 480px;
        box-sizing: border-box;
        padding: 0 32px;
        &:first-of-type {
          margin-bottom: 8px;
        }
        &:last-of-type {
          margin-top: 8px;
          margin-bottom: 24px;
        }
      }
    }
  }
}