body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  overflow-x: hidden; }

h1 {
  text-align: center; }

h2 {
  font-size: 1.3rem; }

h4,
p {
  line-height: 1.5rem; }

.link {
  color: #fff;
  padding: 8px 16px;
  display: inline-block;
  background: #3f81b8;
  text-decoration: none;
  border-radius: 4px;
  transition: background 60ms; }
  .link:hover {
    background: #3faab8; }

.active {
  background: #3faab8; }

.summary {
  width: 80%;
  margin: 16px auto;
  position: relative; }
  @media screen and (min-width: 768px) and (min-height: 480px) {
    .summary {
      width: 640px; } }
  .summary:before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    background: #3faab8;
    left: -10%; }
    @media screen and (min-width: 768px) and (min-height: 480px) {
      .summary:before {
        left: -32px; } }

.container {
  margin: auto;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0 8px;
  overflow: hidden; }
  @media screen and (min-width: 568px) and (min-height: 480px) {
    .container {
      padding: 0 16px; } }
  @media screen and (min-width: 768px) and (min-height: 480px) {
    .container {
      box-sizing: border-box;
      padding: 0 32px; } }
  .container-fill {
    width: 100%; }

@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-Light.ttf");
  font-weight: 100; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: 100; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 700; }

.navigation--logo {
  position: relative;
  z-index: 1001;
  background: #3f81b8;
  height: 64px;
  text-align: center;
  outline: none; }
  .navigation--logo a {
    display: inline-block;
    height: 64px; }
  @media screen and (min-width: 768px) and (min-height: 480px) {
    .navigation--logo {
      display: none; } }

.d-flex {
  display: flex; }

.d-none {
  display: none; }

.navigation {
  position: sticky;
  z-index: 1000;
  background: #3f81b8;
  height: 64px;
  top: 0;
  font-family: "Open Sans Condensed";
  font-size: 1.1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); }
  .navigation--container {
    padding: 0 !important;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative; }
    @media screen and (min-width: 768px) and (min-height: 480px) {
      .navigation--container {
        justify-content: flex-end;
        margin-right: 32px; } }
    @media screen and (min-width: 1200px) and (min-height: 480px) {
      .navigation--container {
        justify-content: center;
        margin: auto; } }
    .navigation--container--logo {
      display: none; }
      @media screen and (min-width: 768px) and (min-height: 480px) {
        .navigation--container--logo {
          display: block;
          position: absolute;
          left: 0; } }
    .navigation--container--items {
      height: 64px;
      width: 100%;
      align-items: center;
      position: relative;
      text-align: center; }
      @media screen and (min-width: 568px) and (min-height: 480px) {
        .navigation--container--items {
          display: none !important;
          flex-wrap: nowrap; }
          .navigation--container--items:last-of-type {
            display: flex !important; } }
      @media screen and (min-width: 768px) and (min-height: 480px) {
        .navigation--container--items:last-of-type {
          display: inline-block !important;
          width: auto; } }
      .navigation--container--items a {
        flex-grow: 1;
        display: inline-block;
        margin-left: -4px;
        word-wrap: normal;
        height: 100%;
        line-height: 64px;
        padding: 0 8px;
        color: #fff;
        text-decoration: none; }
        .navigation--container--items a:hover {
          background: #3faab8; }
        @media screen and (min-width: 568px) and (min-height: 480px) {
          .navigation--container--items a {
            display: inline-block; } }
        @media screen and (min-width: 900px) and (min-height: 480px) {
          .navigation--container--items a {
            padding: 0 16px; } }
      .navigation--container--items div {
        width: 100%;
        max-width: 64px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }

.footer-fill {
  background: #3f81b8;
  color: #fff;
  text-align: center;
  height: 80px;
  line-height: 80px;
  font-family: "Open Sans Condensed"; }

.hero {
  padding-top: 64px; }
  .hero--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 64px; }
    @media screen and (min-width: 768px) and (min-height: 480px) {
      .hero--container {
        flex-wrap: nowrap;
        max-width: 960px;
        margin: auto; } }
    .hero--container h1 {
      margin-bottom: 8px; }
    .hero--container h4 {
      margin-top: 8px;
      max-width: 512px; }
    .hero--container p:first-of-type {
      margin-bottom: 8px;
      max-width: 608px;
      box-sizing: border-box;
      padding: 0 16px; }
      @media screen and (min-width: 900px) and (min-height: 480px) {
        .hero--container p:first-of-type {
          padding: 0 48px; } }
    .hero--container p:last-of-type {
      margin-top: 8px;
      margin-bottom: 32px; }
    .hero--container--text {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: column; }

.home-services-fill {
  background: #f8f8f8;
  padding-top: 32px;
  padding-bottom: 64px;
  border: 1px solid #ddd; }

.home-services {
  text-align: center; }
  .home-services a {
    margin-top: 16px; }
  .home-services--items {
    display: block;
    margin-bottom: 32px; }
    @media screen and (min-width: 900px) and (min-height: 480px) {
      .home-services--items {
        display: grid;
        grid-template-columns: repeat(auto-fit, 256px);
        grid-gap: 16px;
        justify-content: center; } }
    .home-services--items--item {
      display: block;
      box-sizing: border-box;
      padding: 0 16px;
      width: 256px;
      margin: auto; }
      .home-services--items--item img {
        display: block; }
      .home-services--items--item p {
        word-break: break-all;
        margin-top: 0;
        text-align: center;
        margin-bottom: 0; }

.home-stories {
  padding-top: 32px; }
  .home-stories h1 {
    margin-bottom: 48px; }
  .home-stories h2 {
    text-align: center; }
  .home-stories--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media screen and (min-width: 900px) and (min-height: 480px) {
      .home-stories--container {
        flex-wrap: nowrap; } }
    .home-stories--container--item {
      text-align: center;
      margin-bottom: 64px;
      max-width: 640px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .home-stories--container--item h4 {
        box-sizing: border-box;
        padding: 0 32px; }
      .home-stories--container--item p {
        text-align: left;
        max-width: 480px;
        box-sizing: border-box;
        padding: 0 32px; }
        .home-stories--container--item p:first-of-type {
          margin-bottom: 8px; }
        .home-stories--container--item p:last-of-type {
          margin-top: 8px;
          margin-bottom: 24px; }

.home-articles-fill {
  background: #f8f8f8;
  padding-top: 32px;
  padding-bottom: 64px;
  border: 1px solid #ddd; }

.home-articles {
  text-align: center; }
  .home-articles--items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 256px);
    grid-gap: 16px;
    justify-content: center; }
    .home-articles--items--item:hover p {
      background: #3faab8; }
    .home-articles--items--item img {
      display: block; }
    .home-articles--items--item p {
      height: 48px;
      background: #3f81b8;
      color: #fff;
      line-height: 48px;
      margin-top: 0;
      margin-bottom: 0;
      transition: background 30ms; }

.articles--posts--items-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 0 !important; }
  .articles--posts--items-home a {
    color: #006fca;
    text-decoration: none; }
    .articles--posts--items-home a:hover {
      text-decoration: underline; }
  @media screen and (min-width: 900px) and (min-height: 480px) {
    .articles--posts--items-home {
      text-align: left;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start; } }
  .articles--posts--items-home--item {
    width: 256px;
    margin: 0 32px; }

.home-contact-fill {
  background-image: url("../img/background/intro-bg__micro.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 640px;
  padding: 32px 0 0 0 !important;
  text-align: center; }
  @media screen and (min-width: 568px) and (min-height: 480px) {
    .home-contact-fill {
      background-image: url("../img/background/intro-bg__medium.jpg"); } }
  @media screen and (min-width: 900px) and (min-height: 480px) {
    .home-contact-fill {
      background-image: url("../img/background/intro-bg__full.jpg"); } }
  @media screen and (min-width: 1200px) and (min-height: 480px) {
    .home-contact-fill {
      background-position: center center; } }

.home-contact {
  height: 100%;
  padding: 0 !important;
  position: relative; }
  .home-contact--section--item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: left;
    padding-bottom: 16px; }
    .home-contact--section--item tr td:first-of-type {
      display: block;
      box-sizing: border-box;
      padding-right: 8px; }
  .home-contact--questionnaire {
    margin-top: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.6); }
    @media screen and (min-width: 568px) and (min-height: 480px) {
      .home-contact--questionnaire {
        max-width: 640px;
        margin: 64px auto 16px auto;
        display: block; } }
    .home-contact--questionnaire .link {
      margin-bottom: 16px; }
    .home-contact--questionnaire--links {
      display: flex;
      justify-content: space-evenly;
      align-items: center; }

.about-section {
  position: relative;
  padding-bottom: 32px; }
  .about-section:after {
    content: "";
    height: 1px;
    width: calc(100% - 32px);
    background: #ddd;
    position: absolute;
    bottom: 16px;
    left: 16px; }
    @media screen and (min-width: 568px) and (min-height: 480px) {
      .about-section:after {
        width: calc(100% - 32px);
        left: 16px; } }
    @media screen and (min-width: 768px) and (min-height: 480px) {
      .about-section:after {
        width: calc(100% - 64px);
        left: 32px; } }

.article {
  max-width: 832px; }
  .article h2 {
    margin-bottom: 8px; }
  .article h4 {
    margin-top: 8px; }
  .article--portrait {
    width: 45%;
    max-width: 256px;
    height: auto;
    object-fit: cover;
    float: left;
    left: 0;
    margin-right: 16px; }
  @media screen and (min-width: 768px) and (min-height: 480px) {
    .article--more {
      display: flex; } }
  .article--more h3 {
    margin-bottom: 8px; }
  .article--more p {
    margin-top: 0; }
  .article--more--item {
    margin-bottom: 32px; }
    @media screen and (min-width: 768px) and (min-height: 480px) {
      .article--more--item {
        margin-right: 64px; } }

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0;
  min-height: calc(100vh - 144px);
  position: relative; }
  @media screen and (min-width: 768px) and (min-height: 480px) {
    .articles {
      padding-top: 32px;
      flex-wrap: nowrap; } }
  .articles a {
    color: #006fca;
    text-decoration: none; }
    .articles a:hover {
      text-decoration: underline; }
  .articles--posts {
    margin-top: 0; }
    @media screen and (min-width: 1200px) and (min-height: 480px) {
      .articles--posts {
        min-width: 832px; } }
    .articles--posts--items {
      list-style-type: none;
      padding: 0;
      margin-bottom: 64px; }
      .articles--posts--items--item--link {
        font-weight: bold;
        font-size: 1.1rem; }
      .articles--posts--items--item--info {
        font-size: 0.96rem;
        line-height: 1.5rem;
        margin-top: 0;
        margin-bottom: 8px;
        color: #777; }
      .articles--posts--items--item--excerpt p {
        font-size: 0.96rem;
        line-height: 1.5rem;
        margin-top: 0;
        margin-bottom: 32px; }

.prev-next-posts {
  display: flex;
  flex-wrap: nowrap; }
  .prev-next-posts .prev-posts-link {
    margin-right: 16px; }

.page--return {
  display: none; }
  @media screen and (min-width: 768px) and (min-height: 480px) {
    .page--return {
      font-size: 0.95rem;
      display: block;
      position: absolute !important;
      top: 8px;
      color: #888 !important; } }

.articles-single {
  position: relative;
  margin-bottom: 32px; }
  .articles-single a {
    color: #006fca;
    text-decoration: none; }
    .articles-single a:hover {
      text-decoration: underline; }
  .articles-single div {
    line-height: 1.5rem;
    margin-bottom: 16px; }
  .articles-single--return {
    display: none; }
    @media screen and (min-width: 768px) and (min-height: 480px) {
      .articles-single--return {
        font-size: 0.95rem;
        display: block;
        position: absolute !important;
        top: 8px;
        color: #888 !important; } }
  .articles-single--item {
    font-size: 0.96rem;
    line-height: 1.5rem;
    margin-top: 0;
    margin-bottom: 8px;
    color: #777;
    margin-top: 0;
    margin-bottom: 32px;
    position: relative; }
    .articles-single--item:before {
      content: "";
      width: 100%;
      height: 1px;
      background: #ddd;
      position: absolute;
      left: 0;
      bottom: -16px; }
  .articles-single--entry {
    padding-bottom: 16px; }
  .articles-single--related {
    border-top: 1px solid #ddd; }
    .articles-single--related--items {
      padding: 0;
      margin-top: 0;
      margin-bottom: 2px; }
      .articles-single--related--items--item {
        list-style-type: none; }

.sidebar {
  padding-top: 0;
  width: 160px !important;
  position: relative;
  display: block; }
  @media screen and (min-width: 768px) and (min-height: 480px) {
    .sidebar {
      padding-top: 32px;
      margin-right: 32px !important; } }
  .sidebar--toggle {
    display: block;
    height: 32px !important;
    width: 100vw;
    background: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 0;
    left: calc((100vw - 100%) / -2);
    text-align: center;
    line-height: 32px !important; }
    @media screen and (min-width: 768px) and (min-height: 480px) {
      .sidebar--toggle {
        display: none; } }
  .sidebar--container {
    display: none; }
    @media screen and (min-width: 768px) and (min-height: 480px) {
      .sidebar--container {
        display: block; } }
  .sidebar--title {
    margin-bottom: 8px !important; }
  .sidebar--list {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
    font-size: 0.967rem;
    line-height: 1.2rem; }
    .sidebar--list li {
      margin-bottom: 2px; }
    .sidebar--list a {
      text-decoration: none; }
      .sidebar--list a:hover {
        text-decoration: underline; }

.search-form--label {
  margin-bottom: 2px; }

.search-form--wrap {
  display: flex; }
  .search-form--wrap--search {
    outline: none;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 0 8px;
    width: 160px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .search-form--wrap--img {
    user-select: none;
    outline: none;
    display: inline-block;
    padding: 6px;
    background: #ddd;
    height: 20px;
    border: 1px solid #ddd;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: background 100ms; }
    .search-form--wrap--img:hover {
      background: #d9d9d9; }

.services-fill {
  background: #f8f8f8;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }

.services-bg {
  background-image: url("../img/background/rocks__micro.jpg");
  background-size: cover;
  background-position: center bottom; }
  @media screen and (min-width: 568px) and (min-height: 480px) {
    .services-bg {
      background-image: url("../img/background/rocks__medium.jpg"); } }
  @media screen and (min-width: 900px) and (min-height: 480px) {
    .services-bg {
      padding-top: 64px;
      padding-bottom: 64px;
      background-image: url("../img/background/rocks__full.jpg"); } }
  @media screen and (min-width: 1200px) and (min-height: 480px) {
    .services-bg {
      background-position: center center; } }
  .services-bg .services {
    position: relative;
    color: #fff !important;
    padding: 0;
    margin: auto;
    overflow: visible !important; }
    .services-bg .services--container {
      box-sizing: border-box;
      padding: 16px 32px;
      background: rgba(0, 0, 0, 0.65); }
      .services-bg .services--container:before {
        content: "";
        position: absolute;
        width: calc((100vw - 100%) / 2);
        height: 100%;
        background: rgba(0, 0, 0, 0.65);
        top: 0;
        left: calc((100vw - 100%) / -2);
        z-index: 1000; }
      .services-bg .services--container:after {
        content: "";
        position: absolute;
        width: calc((100vw - 100%) / 2);
        height: 100%;
        background: rgba(0, 0, 0, 0.65);
        top: 0;
        right: calc((100vw - 100%) / -2);
        z-index: 1000; }
      @media screen and (min-width: 900px) and (min-height: 480px) {
        .services-bg .services--container:before {
          display: none; }
        .services-bg .services--container:after {
          display: none; } }
    .services-bg .services--summary {
      color: #ddd; }

.services {
  padding-top: 32px;
  padding-bottom: 32px; }
  .services h2:first-of-type {
    border-bottom: 1px solid #3faab8; }
  .services h4 {
    margin-bottom: 0; }
  .services p {
    margin-top: 8px;
    margin-bottom: 24px; }
  .services--summary {
    font-size: 0.97rem;
    color: #666; }

.services-sechedule-fill {
  background-image: url("../img/background/rocks__micro.jpg");
  background-size: cover;
  background-position: center center;
  position: relative; }
  @media screen and (min-width: 568px) and (min-height: 480px) {
    .services-sechedule-fill {
      background-image: url("../img/background/rocks__medium.jpg"); } }
  @media screen and (min-width: 900px) and (min-height: 480px) {
    .services-sechedule-fill {
      background-image: url("../img/background/rocks__full.jpg"); } }

.services-schedule {
  background: rgba(0, 0, 0, 0.55);
  color: #fff; }
  @media screen and (min-width: 568px) and (min-height: 480px) {
    .services-schedule--items {
      display: flex; } }
  .services-schedule--items--item {
    box-sizing: border-box;
    padding: 0 8px; }
    .services-schedule--items--item p:first-of-type {
      margin-top: 0;
      margin-bottom: 0; }
    .services-schedule--items--item p:last-of-type {
      margin-top: 8px;
      margin-bottom: 32px; }

.contact-form {
  padding-top: 32px; }
  @media screen and (min-width: 768px) and (min-height: 480px) {
    .contact-form--items {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      padding-bottom: 64px; } }
  .contact-form--prices {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; }
    @media screen and (min-width: 768px) and (min-height: 480px) {
      .contact-form--prices {
        width: auto; } }
    .contact-form--prices--item {
      margin: 16px auto;
      padding: 0 32px;
      display: block; }
      @media screen and (min-width: 768px) and (min-height: 480px) {
        .contact-form--prices--item {
          margin: 0 !important;
          margin-bottom: 16px !important;
          padding: 0 16px; } }
      .contact-form--prices--item table tr td {
        font-size: 0.95rem; }
        .contact-form--prices--item table tr td:first-of-type {
          box-sizing: border-box;
          padding-right: 16px; }
  .contact-form--img {
    display: none; }
    @media screen and (min-width: 768px) and (min-height: 480px) {
      .contact-form--img {
        display: block; } }
    .contact-form--img img {
      display: block;
      width: 100%;
      object-fit: scale-down; }
    .contact-form--img small {
      display: block; }
  .contact-form--form {
    margin: auto;
    width: 296px;
    margin-bottom: 64px; }
    @media screen and (min-width: 768px) and (min-height: 480px) {
      .contact-form--form {
        margin-left: 32px;
        margin-top: 32px;
        background: #f3f6fa;
        padding: 16px 32px; } }
    .contact-form--form input,
    .contact-form--form textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 8px;
      box-sizing: border-box;
      border: 1px solid #aaa;
      border-radius: 2px; }
    .contact-form--form p {
      font-size: 0.95rem;
      display: inline-block;
      margin-top: 4px;
      margin-bottom: 0; }
    .contact-form--form textarea {
      resize: none; }
    .contact-form--form--submit {
      border: none !important;
      background: #3f81b8;
      color: #fff;
      width: 128px !important;
      height: 32px;
      border-radius: 4px; }
      .contact-form--form--submit:hover {
        cursor: pointer; }
  .contact-form--location {
    padding-top: 32px !important;
    padding-bottom: 64px !important;
    text-align: center; }
    .contact-form--location .link {
      margin-top: 16px; }

.contact-form-fill {
  background: #f8f8f8;
  border-top: 1px solid #ddd; }

.map {
  width: 100%;
  height: 320px;
  background: #ddd; }
  @media screen and (min-width: 768px) and (min-height: 480px) {
    .map {
      width: 420px;
      margin-left: 64px; } }

@media screen and (min-width: 768px) and (min-height: 480px) {
  .contact--section {
    display: flex;
    justify-content: center; } }

.testimonials-fill {
  background: #f8f8f8;
  padding-top: 32px;
  padding-bottom: 0;
  border-top: 1px solid #ddd; }

.stories {
  padding-bottom: 32px; }
  .stories h2 {
    text-align: center; }
  .stories--item {
    position: relative;
    margin-top: 16px;
    margin-bottom: 32px; }
    .stories--item:first-of-type {
      margin-top: 32px; }
    .stories--item h4 {
      margin-bottom: 8px; }
    .stories--item p:first-of-type {
      margin-top: 4px;
      margin-bottom: 4px; }
    .stories--item p:nth-of-type(2) {
      margin-top: 4px; }

.questionnaires {
  min-height: calc(100vh - 208px);
  padding-top: 32px; }
  @media screen and (min-width: 768px) and (min-height: 480px) {
    .questionnaires {
      min-height: calc(100vh - 144px); } }
  .questionnaires h2 {
    text-align: center; }
  .questionnaires--items {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .questionnaires--items a {
      margin-top: 16px; }
